.container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border: 2px solid #6dac7f;
  padding: 15px 5px;
  background-color: #9bcaa3;
  max-width: fit-content;
  border-radius: 10px;
}
